:root {
    /* semantic */
    --background: #282828;
    --foreground: #ebdbb2;

    /* normal colors */
    --color0:  #282828; /* bg0 */
    --color1:  #cc241d; /* red */
    --color2:  #98971a; /* green */
    --color3:  #d79921; /* yellow */
    --color4:  #458588; /* blue */
    --color5:  #b16286; /* purple */
    --color6:  #689d6a; /* aqua */
    --color7:  #a89984; /* fg4 / light gray */

    /* bright colors */
    --color8:  #928374; /* gray */
    --color9:  #fb4934; /* bright red */
    --color10: #b8bb26; /* bright green */
    --color11: #fabd2f; /* bright yellow */
    --color12: #83a598; /* bright blue */
    --color13: #d3869b; /* bright purple */
    --color14: #8ec07c; /* bright aqua */
    --color15: #ebdbb2; /* fg1 */
}

