* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 10px;
  min-height: 0;
  color: #ebdbb2;
}

window#waybar {
  background: #1d2021;
}

#workspaces button {
  margin: 1px 2px;
}
#workspaces button label {
  padding: 0px 10px;
  color: #ebdbb2;
}

#workspaces button.active {
  background: #ebdbb2;
}

#workspaces button.active label {
  color: #1d2021;
}

#power, #clock, #battery, #pulseaudio, #tray, #network,
#custom-power, #custom-microphone {
  padding: 0px 10px;
  margin: 1px 2px;
  color: #ebdbb2;
}

#custom-microphone,
#custom-microphone.muted {
  min-width: 14px;
}

#custom-microphone.muted,
#pulseaudio.muted,
#custom-power:hover{
  opacity: 0.6;
}


