* {
font-family: "JetBrains Mono";
font-weight: bold;
font-size: 12px;
color: #ebdbb2;
border-radius: 0;
}


.bar {
background: #1d2021;
border: none;
padding: 0;
margin: 0;
}


.workspace {
padding: 0 10px;
margin: 3px 2px;
color: #ebdbb2;
}


.workspace.active {
background: #ebdbb2;
color: #1d2021;
}


.window {
padding: 0 10px;
margin: 3px 2px;
color: #ebdbb2;
}


.clock {
padding: 0 10px;
margin: 3px 2px;
color: #ebdbb2;
}


/* Tray + popup styling */
.tray {
padding: 0 10px;
margin: 3px 2px;
color: #ebdbb2;
}


.popup {
background: #1d2021;
color: #ebdbb2;
border-radius: 0;
padding: 4px;
margin: 2px;
}


.slider {
padding: 2px;
margin: 2px;
}


.button {
padding: 2px 4px;
margin: 2px;
background: #1d2021;
color: #ebdbb2;
}


.button:hover {
opacity: 0.7;
}
