* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 10px;
  min-height: 0;
  color: #ebdbb2;
}

window#waybar {
  background: #1d2021;
}

#workspaces button {
  margin: 0px 0px;
}

#workspaces button label {
  padding: 0px 3px;
  color: #ebdbb2;
}

#workspaces button.active {
  background: #ebdbb2;
}

#workspaces button.active label {
  color: #1d2021;
}

/* Shared module layout */
#power,
#clock,
#battery,
#tray,
#network,
#custom-power,
#pulseaudio#microphone
#pulseaudio {
  padding: 0px 10px;
  margin: 1px 2px;
  color: #ebdbb2;
}

